.csym019 {
    background-color: rgba(0, 0, 139, 0.418); 
    color: black;
    display: block;
    width: 50%;
    float: left;
   }

   
   .csym015 {
    background-color: yellow; 
    color: black;
    display: block;
    width: 50%;
    float:  left
   }